@page "/"

<PageTitle>Home</PageTitle>

<section class="block-content card">

    <div class="card-body">
        <h5 class="card-title mb-4">Hello, world!</h5>
        Welcome to your new app.
    </div>
</section>