:root {
    --background-color: #101316;
    --bs-body-font-family: "Inter";
    line-height: 1.5;
  }

  body {
   background-color: var(--background-color);
  }

  svg.brand {
    width: 100px;
    height: auto;
    transition: width 0.5s ease;
  }
  /* Estilizando a div wrapper com CSS Grid */
  
  section.card.block-content {
    border-radius: 0;
  }

  section.card.block-content .card-title {
    font-family: "Tachyon Light";
  }
  
 

  

  /* Smartphones em modo retrato */
@media only screen and (max-width: 480px) {
/* Estilos para dispositivos com largura máxima de 480px */
}

/* Smartphones em modo paisagem */
@media only screen and (min-width: 481px) and (max-width: 767px) {
/* Estilos para dispositivos com largura mínima de 481px e largura máxima de 767px */

svg.brand {
  width: 120px;
}

}

/* Tablets e dispositivos com telas menores */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Estilos para dispositivos com largura mínima de 768px e largura máxima de 1023px */
}

/* Tablets e dispositivos com telas maiores */
@media only screen and (min-width: 768px) {

.wrapper {
    display: grid;
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
    grid-template-columns: 1fr 7fr; /* Define a largura das colunas */
    grid-template-rows: auto 1fr auto; /* Define a altura das linhas */
    min-height: 100vh; /* Garante que a div wrapper ocupa a altura total da tela */
  }

  /* Estilos para os elementos dentro da div wrapper */
  .wrapper > header {
    grid-area: header;
  }

  .wrapper > aside {
    grid-area: aside;
  }

  .wrapper > main {
    grid-area: main;
}

.wrapper > footer {
    grid-area: footer;
  }

  svg.brand {
    width: 150px;
    height: auto;
  }
}


/* Tablets e dispositivos com telas maiores */
@media only screen and (min-width: 1024px) and (max-width: 1199px) { 

}

/* Tablets e dispositivos com telas maiores */
@media only screen and (min-width: 1024px) {

}

/* Laptops e desktops */
@media only screen and (min-width: 1200px) {
/* Estilos para dispositivos com largura mínima de 1200px */
}